
body {
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
}

body,
html {
    overflow: hidden;
}

#logout {
    color: #ED2553;
    font-size: 45px;
    font-weight: bolder;
    float: right;
    margin-top: -10px;
}
